{% extends "index.html" %} {% block content %}
<div class="almacen">
  <strong class="almacen_title">STOCK - EIA TIGO MEDELLIN MASIVOS</strong>
</div>
<div class="container mt-4">
  <div class="card p-2">
    <div class="col-sm-12">
      <h5 class="card-title mb-2">Suministros y Equipos</h5>
      <table id="suministrosTable" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>SubTipo</th>
            <th>Total</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  
  <script>
    $(document).ready(function () {
      $("#suministrosTable").DataTable({
        ajax: {
          url: "/api/suministros",
          dataSrc: "",
        },
        columns: [
          { data: "Código de material" },
          { data: "Nombre de material" },
          { data: "Tipo de material" },
          { data: "Subtipo de material" },
          { data: "Cantidad total" },
        ],
        language: {
          url: "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json",
        },
      });
    });
  </script>
</div>
{% endblock %}
